/* button */

.button {
	outline: none;
	border: none;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	width: 200px;
	padding: 11px 0;
	cursor: pointer;
	color: #ffffff;
	border-radius: 3px;
	background: radial-gradient(
		ellipse at left bottom,
		rgba(57, 129, 245, 1)rgba(22, 24, 47, 1) 0%,
		rgba(37, 108, 221, 0.7) 59%,
		rgba(19, 37, 128, 0.9) 100%
	);
	box-shadow: inset 0 3px 10px 3px rgba(57, 129, 245, 0.9),
		0 3px 10px 3px rgba(57, 129, 245, 0.9);
	background: #3981F5;
	transition: 0.5s all;
}

.button:hover {
	box-shadow: inset 0 0px 10px 3px rgba(57, 129, 245, 0.9),
		0 0px 10px 3px rgba(57, 129, 245, 0.9);
}

.optionBtn {
	outline: none;
	border: #3981F5 solid 1px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	width: 100px;
	padding: 11px 0;
	cursor: pointer;
	color: #ffffff;
	border-radius: 3px;
	background:#3981F5;
	transition: 0.5s all;
}

.optionBtn:last-child {
	margin: 0 10px;
}

.optionBtn:hover {
	background: #ffffff;
	color: #000000;
}
